@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: borderg-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

.buttonEnvoyer {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: coral;
    background-image: linear-gradient( to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.buttonEnvoyer:hover {
    background-color: rgb(221, 106, 64);
}

.buttonEnvoyer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/* Add a background color and some padding around the form */

.containerContact {
    height: 100%;
    width: 60%;
    margin: auto;
    border-radius: 16px;
    background-color: #d8dde0;
    padding: 20px;
    font-size: 1.2rem;
}

.button {
    text-align: center;
}

.containerContact p {
    text-align: center;
    font-size: 2rem;
}

select {
    color: #999;
}

@media screen and (max-width: 680px) {
    .containerContact {
        width: 100%;
    }
}