h1,
h2,
h3 {
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cards img {
  width: 30%;
  width: 300px;
  height: 300px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2),
    0 14px 28px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 20px;

  margin: 20px;
}

.textsIndex {
  text-align: center;
  margin-bottom: 20px;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 5px 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: coral;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(221, 106, 64);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
