
/*GENERAL*/
body{
   width: 100%;
   background-color: #e7ecef;
   font-size: 1.5em;
}
p {
   text-align: center;
}
h1 {
   text-align: center;
}
/*IMAGE*/
#mycity{
   display: flex;
   width: 100%;
   justify-content: center;
}
.element img {
   width: 800px;
   height: 500px;
   box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.19);
   border-radius: 20px;
}
.element{
   margin-left: 10px;
   margin-bottom: 10px;
}
.presentation{
    width:500px;
    height: 380px;
    padding: 25px;
    margin-top: 60px;
    background-color:white;
    border-radius: 10px;
}
/*BUTTON*/
input{
   background-color: coral;
   width: 150px;
   height: 40px;
   border-radius: 10px;
   font-size: 1em;
}
/*RESPONSIVE*/
@media screen and (max-width: 320px){
   #mycity{ width: 100%; margin-left: 10px; flex-direction: column;justify-content: center;}
    .presentation{display: flex; justify-content: center; width: 800px; height: 200px; margin-top: 10px; margin-bottom: 20px; margin-left:5px; font-size: 1.1em; padding: 5px;}
   
    html{width: 100%;}
   body {width: 100%; margin:auto;}
}