@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7ecef;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  margin-top: 10%;
  border-radius: 15px 50px;
}

.wrapper h1 {
  font-family: "Allura", cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #b9e0f7;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #000000;
  position: relative;
  border-radius: 15px 50px 30px;
}

.team .team_member h3 {
  color: #ff7f50;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #000000;
  margin: 12px 0;
  font-size: 15px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}
