/*GENERAL*/
body{
   width: 100%;
   background-color: #e7ecef;
}
p {
   text-align: center;
   width: 100%;
}
h1 {
   text-align: center;
}
/*IMAGE*/
#mycity{
   display: flex;
   width: 100%;
   justify-content: center;
   
}
.element img {
   width: 500px;
   height: 400px;
   box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.19);
   margin: auto;
   border-radius: 20px;
}
.element{
   margin-left: 10px;
   margin-bottom: 10px;
}
.presentation{
   width:100%;
   padding:40px;
}
@media screen and (max-width: 320px){
   html{width: 100%;}
   body {width: 100%; margin:auto;}
   .element img{width: 400px; height: 400px; }
   #mycity{ width: 100%; margin-left: 10px; flex-direction: column;}
   
}


