/*GENERAL DE LA PAGE*/
h1{
   text-align: center;
}
p{
   width: 40%;
   text-align: center;
   margin: auto;
}
img{
   height: 400px;
   width: 100%;
   padding: 20px;
   overflow: hidden;
}
.element{
   display: flex;
   justify-content: space-around;
}
/*PREMIERE CARD / IMAGE*/
.city-capitole {
   width: 90%;
   border: 1px black solid;
   border-radius: 20px;
   box-shadow: 15px 15px 15px #777;
   padding: auto;
   display:flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-bottom: 30px;
}
/*DEUXIEME CARD / IMAGE*/
.city-rue{
   width: 90%;
   border: 1px black solid;
   border-radius: 20px;
   box-shadow: 15px 15px 15px #777;
   padding: auto;
   display:flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-bottom: 30px;
}
/*TROIXIEME CARD / IMAGE*/
.city-canal {
   width: 90%;
   border: 1px black solid;
   border-radius: 20px;
   box-shadow: 15px 15px 15px #777;
   padding: auto;
   display:flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-bottom: 40px;
}
/*BUTTON*/
input{
   display: block;
   position: relative;
   margin: auto;
   background-color: rgb(238, 108, 108);
   width: 120px;
   height: 30px;
   font-size: 20px;
   border-radius: 10px;
   margin-top: 10px;
}
.button-index p{
   font-size: 20px;
}